<div class="search">
  <form>
    <input [formControl]="weather_form" type="text" placeholder="Search city">
  </form>
  <button (click)="onFormSubmit()" type="submit">Search</button>
</div>

<div *ngIf="weather_data" class="data_wrapper md:container mx-auto rounded-2xl">
  <div class="upper_data">
    <img *ngIf="weather_data.main.temp > 15" src="../assets/resources/hot.jpg" alt="hot">
    <img class="w-full" *ngIf="weather_data.main.temp <= 15" src="../assets/resources/cold.jpg" alt="cold">
    <div class="weather_data">
      <div class="location">
        {{weather_data.name}}
      </div>
      <div class="temperature">
        {{weather_data.main.temp | number: '1.0-0'}}<span>&deg;</span><span>C</span>
      </div>
    </div>
  </div>
  <div class="lower_data">
    <div class="more_infor_label">
      More Information
    </div>
    <div class="more_info_container">
      <div class="info_block">
        <div class="info_block_label">
          <img src="../assets/resources/min.jpg">
          <span>min</span>
        </div>
        <div class="info_block_value">
          <span>{{weather_data.main.temp_min | number: '1.0-0'}}<span>&deg;</span>C</span>
        </div>
      </div>
      <div class="info_block">
        <div class="info_block_label">
          <img src="../assets/resources/max.jpg">
          <span>max</span>
        </div>
        <div class="info_block_value">
          <span>{{weather_data.main.temp_max | number: '1.0-0'}}<span>&deg;</span>C</span>
        </div>
      </div>
      <div class="info_block">
        <div class="info_block_label">
          <img src="../assets/resources/humidity.jpg">
          <span>humidity</span>
        </div>
        <div class="info_block_value">
          <span>{{weather_data.main.humidity}}</span>
        </div>
      </div>
      <div class="info_block">
        <div class="info_block_label">
          <img src="../assets/resources/wind.jpg">
          <span>wind</span>
        </div>
        <div class="info_block_value">
          <span>{{weather_data.wind.speed}} km/h</span>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<h1 class="absolute bottom-0 left-0 md:text-red-700 font-extrabold">THIS IS RED IF GREATER THAN 768PX</h1>